article, section {
    padding:100px 0;

    // &:first-of-type {
    //     padding:100px 0 50px 0;
    // }
    &:nth-of-type(2n) {
        padding:50px 0 100px 0;
    }
}

.section-dark{
    background-color: #333743;
    h1,h2,h3,h4,h5,h6,p {
        color: #fff;
    }
}

.wrapper {
    margin-top: 50px;
}
.featured-video {
    margin: 150px auto 0 auto;
}

hr{
    max-width: 1140px;
    border-top: 1px solid #4a4a4a;
}

.section-flex {
    display: flex;
    justify-content: space-around;
}