.navbar {
    margin-bottom: 0;
    .container{ 
        width: 100%;
        .page-nav {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-around);
        }
        .sign-in {
            float: right;
            li {
                a{
                    color: $sitesaltCTA;
                    font-weight: bold;
                }
            }
        }
        
        li {
            a {
                @include fontSize(18px);
                color: $sitesaltBaseGrey;
                font-weight: 500;
                letter-spacing: 0.5px;
                @include transition(all, 0.3s, linear);
                &:hover, &:focus {
                    background-color: transparent;
                    color: $sitesaltAccent;
                    @include transition(all, 0.3s, linear);
                }
            }
            &.active {
                border-bottom: 2px solid $sitesaltAccent;
                a {
                    color: $sitesaltAccent;
                    font-weight: bold;
                }
            }
        }
        
    }
}