.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #fff;
    .container{ 
        width: 100%;
        .navbar-brand{
            width: 150px;
            img{
                width: 100%;
            }
        }
        .page-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .sign-in {
            float: right;
            li {
                a{
                    @include buttonSmall(#fff);
                    padding: 8px 15px;
                    margin-top: 7px;
                    font-weight: bold;
                    margin-right: 10px;
                    // border: 2px solid $sitesaltBlue;
                    color: $sitesaltBlue;
                    &.sign-up {
                        @include buttonSmall($sitesaltCTA);
                        background-color: transparent;
                        border: 1px solid $sitesaltCTA;
                        color: $sitesaltCTA;
                        padding: 8px 15px;
                        margin-top: 7px;
                        font-weight: bold;
                        &:hover {
                            background-color: $sitesaltCTA;
                            opacity: 1;
                            color: #fff;
                        }
                    }
                    &:hover {
                        // background-color: $sitesaltBlue;
                        color: $sitesaltBlue;
                        opacity: 1;
                        // color: #fff;
                    }
                }
            }
        }
        
        li {
            a {
                @include fontSize(18px);
                color: $sitesaltBaseGrey;
                font-weight: 500;
                letter-spacing: 0.5px;
                transition: all 0.3s linear;
                &:hover, &:focus {
                    background-color: transparent;
                    color: $sitesaltAccent;
                    transition: all 0.3s linear;
                }
            }
            &.active {

                a {
                    color: $sitesaltAccent;
                    font-weight: bold;
                    text-decoration: line-through;
                }
            }
        }

    }
    &.sticky{
        position: fixed;
        z-index: 100;
        filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.2));
        opacity: 0.9;
        transition: all 0.3s ease-in-out;
        &:hover{
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }
    }
}