.article-container{
    max-width: 1180px;;
    margin-bottom: 50px;
    .article-information{
        display: flex;
        padding: 15px 30px;
        .img-container {
            img {
                max-width: 390px;
                border-radius: 8px;
            }
        }
        .wrapper {
            margin: 0;
            margin-left: 30px;
            .article-meta {
                h2 {
                    text-align: left;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    letter-spacing: 1px;
                }
                div {
                    text-align: left;
                    letter-spacing: 1px;
                    span {
                        color: #6EA1E5;
                        letter-spacing: 1px;
                    }
                }

            }
            .article-content {
                p {
                    text-align: left;
                    margin: 30px 0;
                    letter-spacing: 1px;
                }
            }
            .footer {
                p {
                    text-align: left;
                    a {
                        @include buttonSmall(#2C3E50);
                    }
                }
            }
        }
    }
}