 <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header col-md-3">
          <a class="navbar-brand" href="#">SiteSalt.</a>
        </div>
        <div class="col-md-6">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav page-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/learning-centre">Learning Centre</a></li>
            <li><a href="/plans">Pricing</a></li>
          </ul>
        </div>
        </div>

        <div class="col-md-3">
            <ul class="nav navbar-nav sign-in">
                <li><a href="#">Sign Up / Sign In</a></li>
            </ul>
        </div>
      </div>
    </nav>