$sitesaltAccent     : #4DB6AC;
$sitesaltCTA        : #e81d3d; //original #E93753
$sitesaltBaseGrey   : #2D2E32;
$sitesaltLightGrey  : #8C8F94;
$sitesaltLightBlue  : #2C3E50;

span {
    color: $sitesaltLightGrey;
}